<div id='movie_filters' class='well'>
  <%# Filled dynamically via Backbone.js %>
</div>

<div id='movie_index'>
  <%# Filled dynamically via Backbone.js using the 'search' controller %>
</div>

<br class='clearfix'/>


<% if current_user %>
  <%= link_to 'New Movie', new_movie_path, :class => 'btn btn-primary' %>
<% end %>



<script type="text/template" id="movie_template">
  <a href='movies/{{= id }}'>
    <div class='movie_thumbnail'>
      {{ if(image_url) { }}
      <img src='{{{= image_url }}}' width='140' height='200'>
      {{ } }}
    </div>
    
    <div class='movie_title'>
      {{{= title }}}
    </div>
  </a>
  
  <div class='movie_score'>
    {{= star_display(score_class) }}
  </div>
</script>

<script type="text/template" id="filter_template">
  {{ for(var i=0; i<labels.length; i++) { }}
    {{ var val = labels[i]['value'] }}
    {{ var cl = (val == active_value ? "filter active" : "filter" )}}
    <li data-id="{{{= val }}}" class="{{{= cl }}}">
      {{{= labels[i]['name'] }}}
      <span class="badge">{{{= labels[i]['facet_count'] || 0 }}}</span>
    </li>
  {{ } }}
</script>
