// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#movie_filters {
  width: auto;
  margin: -20px 0px 20px 0px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 0px 0px 5px 5px;
}

.filter_group {
  width: auto;
  display: inline;
  border: 1px solid red;
}

.filter {
  display: inline-block;
  color: inherit;
  cursor: pointer;
  margin-right: 1em;
  padding: 4px;
  min-width: 8%;
  border-radius: 4px;
  color: #999;
  
  &:hover {
    text-decoration: none;
    background-color: #fafafa;
  }
  
  &.active {
    background-color: white;
    color: inherit;
    
    .badge {
      background-color: #9d9d9d;
    }
  }
  
  .badge {
    background-color: #bbb;
  }
}


.movie {
  width: 18%;
  padding: 0px 8px 8px 0px;
  display: inline-block;
  vertical-align: top;
}

.movie_thumbnail {
  border: 1px solid #ccc;
  width: 140px;
  height: 200px;
  overflow: hidden;
  box-shadow: #eee 2px 2px 2px;
  padding: 0px;
  
  background: url('thumbnail-background.gif');
  background-repeat: no-repeat;
}

.movie_title a {
  color: inherit !important;
  text-decoration: none;
}

